<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cashbackapp">

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.CashBackApp">

        <!-- Точка входа -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OnboardingActivity"
            android:exported="false" />

        <activity
            android:name=".SimpleRegistrationActivity"
            android:exported="false" />

        <!-- Экран логина -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- Восстановление пароля -->
        <activity
            android:name=".PasswordRecoveryActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- Меню профиля из главного меню -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".AnalyticsActivity" />

        <activity android:name=".SettingsActivity" />

        <activity android:name=".BankCardsActivity" />

        <activity
            android:name=".MainMenuActivity"
            android:exported="false" />

    </application>

</manifest>